{% extends 'base.html' %}

{% block header %}{% block title %}Hexsweeper{% endblock %}{% endblock %}

{% block main_content %}
<div class="game" id="hexsweeper">
  <p id="timer">00:00:00</p>
  <p id="flags"></p>
  <button onclick="resetGame();">Reset</button>
  <select id="difficulty" title="Difficulty">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <br/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
  <script src="{{ url_for('static', filename='apps/hexsweeper/js/cell.js') }}"></script>
  <script src="{{ url_for('static', filename='apps/hexsweeper/js/sketch.js') }}"></script>
</div>
{% endblock %}
